@tailwind base;
@tailwind components;
@tailwind utilities;


/* .wrapper {
  width: 0;
  min-width: 100%; 
  overflow: auto;
} */

.table_wrapper{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}